   <% if flash[:success] %>
     <div class="success"><%= flash[:success] %></div>
     <% end %>
   <h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to "Nazad", root_path %>
<%= link_to "Izmeni", edit_article_path(@article) %>
<%= link_to "Obrisi", article_path(@article), method: :delete, data: { confirm: "Jesi siguran?" } %>